html {
  box-sizing: border-box;
	background-color: rgb(245,245,241);
}
  *, *:after, *:before
  {box-sizing: inherit;}

#whole_enchilada {
	width:100%;
}

 #top_bar,#navbar {
 	width:100%;
 	background-color:#fff;
}

 #top_bar {
 	height: 80px;
 	display: flex;
 	border-bottom: 1px solid rgb(205,201,198)
}

.logo {
	background-image: url("../images/etsy_logo_sm_rgb.png");
	width:100px;
	height:60px;
	margin-left: 60px;
	margin-top: -5px;
}

.search {
	width:420px;
	border:1px solid rgb(205,201,198);
	height:30px;
	margin-left: 100px;	
	margin-top: 20px;
	border-radius: 5px;
}

.button {
    background-color: rgb(52,168,196); /* Green */
    border: none;
    color: white;
    padding: 7px 32px;    
    text-decoration: none;
   	width: 110px;
    font-size: 15px;
    margin-top: 20px;
    height: 30px;
}

.buysell {
	list-style: none;
	display: flex;
	margin-left:250px;
	margin-top: 20px;
	height: 30px;
	width: 250px;
}

.buysell li {
	width: 100px;
	margin:auto;
	color:rgb(52,168,196);
}

.signin {
    background-color: #fff; /* Green */
    border: 1px solid rgb(52,168,196);
    color: rgb(52,168,196);   
    text-decoration: none;
   	width: 90px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
}

.cart {
	background-image: url("../images/cart.png");
	width:34px;
	border-left: 1px solid rgb(119,119,119);
	height:35px;
	margin-left: 10px;
	margin-top: 20px;
}
.cart > p {
	margin-top: 5px;
	padding-top: 25px;
	padding-left: 5px;
	color: rgb(119,119,119);
}

 #navbar {
 	height: 30px;
	width:100%;
	display:flex;
	list-style:none;
	font-family: Graphik Web,Arial,Helvetica,sans-serif;
	font-size: 15px;
	color:rgb(119,119,119);
	margin-top: 0px;
}

#navbar > li {
	margin-right: 30px;
}
#navbar li:first-child {
	margin-left: 35px;
}

 #column_container {
 	display: flex;
 	margin:auto;
 	width: 1300px;
 	margin-top: 50px;
 }

 .col1 {
 	width:25%;
 	margin-right: 20px;
 }

#catcontainer {
 	background-color: #fff;
 }

#categories {
	list-style: none;
	color:rgb(1,146,181);
	margin-left: -15px;
}

.cats {
	margin-top: 10px;
}

#categories.cats:nth_child(15) {
	margin-bottom: 10px;
}

#allcats {
	margin-left: 6px;
	color: rgb(67,67,67);
}

#catcontainer > li {
	margin:0px 5px 0px;
}

#refinestuff {
	background-color: #fff;
	border-bottom: 1px solid gray;
}

#refine {
	color: gray;
	font-size: 15px;
}

.filters {
	border-bottom: 1px solid rgb(205,201,198);
}

.torefine {
	list-style: none;
	color: rgb(52,168,196); 
}

.torefine li {
	margin-top: 15px;
}

.price {
	width: 20px;
	height: 10px;
	border:1px solid rgb(205,201,198) ;
}
.colors {
	display: flex;
	margin: 0px 2px 5px;

}
.bycolor {
	height:22px;
	width:22px;
	margin:0px 4px 20px;
	border-radius: 2px;
}
.bycolor:first-child{
	background-color: #f40b32;
}
.bycolor:nth-child(2) {
	background-color: rgb(225,127,0);	
}
.bycolor:nth-child(3){
	background-color: #f3cc0c;
}
.bycolor:nth-child(4) {
	background-color: #0ac20a;
}
.bycolor:nth-child(5){
	background-color: #0cccf3;
}
.bycolor:nth-child(6) {
	background-color: #a60cf3;
}
.bycolor:nth-child(7) {
	background-color: #000000;
}
.bycolor:nth-child(8) {
	background-color: #fff;
}

#country {
	border: 1px solid rgb(205,201,198);
	width:230px;
	height: 30px;
	margin-bottom: 20px;

}

 .col2 {
 	width:75%;
 
 }

#allpics {
 	display:flex;
 	justify-content:space-around;
 	flex-wrap:wrap;
 }

#allpics div img {
	width:225px;
	height:200px;
	position:absolute;
	bottom: 50px;
}

#allpics .pics {
	width:225px;
	background-color: #fff;
	margin-bottom: 10px;
	height: 300px;


}

#allpics .pics div {
	width:220px;
	height:250px;
	position:relative;
	
}
.description {
	 width: 200px;
	 white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 margin-top: -30px;
}

.shopname {
	color: rgb(119,119,119);
}

.prices {
	margin-left: 170px;
	margin-bottom: -35px;
	color: rgb(120,192,66);

}

#bottomstuff {
	width: 100%;
	height:500px;
	border: 1px solid yellow;
	margin-top: 100px;
}

.related_to_whiskey {
	border:1px solid black;
	height: 150px;
	width: 100%;
	margin-top: 20px;
	display: flex;
	color:rgb(52,168,196);

}
.whiskey {
	margin-left: 0px;
}

.related_to_whiskey > ul {
	margin-top: 60px;
	margin-left: 0px;
	list-style: none;
}
.shops{
	border:1px solid black;
	height: 100px;
	width: 100%;
	margin-top: 20px;
	text-align: left;
	
}
.numbers {
	border:1px solid black;
	height: 100px;
	width: 100%;
	margin-top: 20px;
	
}
.subscribe {
	height: 100px;
	width: 100%;
	margin-top: 20px;
}
.bottom {
	text-align: center;

}

.bottomsearch {
	width:420px;
	border:1px solid rgb(205,201,198);
	height:30px;
	margin-left: 250px;	
	margin-top: 20px;
	border-radius: 5px;
	background-color: #fff;
}
.bottombutton {
    background-color: rgb(52,168,196); /* Green */
    border: none;
    color: white;
    padding: 7px 32px;    
    text-decoration: none;
   	width: 110px;
    font-size: 15px;
    margin-top: -30px;
    height: 30px;
    margin-left: 600px;

}	

